/* Container */
div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Heading */
  h2 {
    text-align: center;
    color: #f3f0f0;
  }
  
  /* Form */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  /* Button */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Message */
  p {
    text-align: center;
    color: #d9534f;
    margin-top: 10px;
  }
  
  /* Responsive Styling */
  @media screen and (max-width: 480px) {
    div {
      max-width: 90%;
    }
  
    input[type="email"] {
      font-size: 14px;
    }
  }
  