/* Base styles for the body */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    background: radial-gradient(circle 815px at 23.4% -21.8%, rgb(87, 88, 91) 0.2%, rgba(0, 0, 0, 1) 100.2%);
    background-size: 400% 400%; /* Adjust the background size as needed */
    animation: movingBackground 10s linear infinite;
  }
  
  @keyframes movingBackground {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  
  /* Base styles for the form and its elements (as in your previous code) */
  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .formin {
    background-color: black;
  }
  
  input {
    margin-bottom: 20px;
    padding: 15px;
    width: 30%;
    border-radius: 10px;
    background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);
    color: aliceblue;
    border: 2px solid white;
  }
  
  button {
    border: none;
   background-color: white;
   color: black;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-size: medium;
  }
  
h2{
    color: white;
    text-transform: capitalize;
    font-size: x-large;
}

p{
  color: aliceblue;
}