/* Home.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .custom-card {
    width: 320px; /* Adjust the width as needed */
    overflow: hidden; /* Hide any content overflowing from the card */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
    border: none;
    text-transform: capitalize;
  }
  
  .custom-card img {
    width: 122%;
    height: 160px;
    position: relative;bottom: 30px;left: -30px;
  }
  
.title{
   float: left;
   position: relative;bottom: 20px;
   font-weight: 500;
   font-size: large;
  }

  .read{
    color: rgb(7, 247, 7);
    cursor: pointer;
  }