.bg-grey {
    background-color: #dcdfe0; /* Light grey background */
    border-radius: 20px;
  }

  .bor{
    padding: 20px 20px;
}

.btns{
    padding: 20px 20px;
}

.word{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


  