footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right,#00093c,#2d0b00);
    color: #fff;
    border-top-left-radius:125px;
    font-size: 13px;
    line-height: 20px;
}

.footerrow{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footerlogo{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.footercol{
    flex-basis: 25%;
    margin-bottom: 30px;
}

.footercol h3{
width: fit-content;
margin-bottom: 40px;
position: relative;
}

.footeremailid{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.footerul .footerli{
    list-style: none;
    margin-bottom: 12px;
}

.footerul .footerli .footera{
    text-decoration: none;
    color: white;
}

.footerinput{
    border-radius: 0;
}

.footerform{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.footerinput{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.footerbtn{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #ccc;
    position: relative;
    background-color: black;
    border-radius: 0px;
}